<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Protocolo Caramelo</title>
</head>
<body>
    <header>
        <ul>
            <li>Sobre</li>
            <li>Mecânicas</li>
            <li>Personagens</li>
            <li>Quem somos</li>
            <li>Download</li>
        </ul>
    </header>

    <img src="/img/cachorro.png" alt="dog">

    <p>Em meio ao desespero da vida pessoal e financeira de um mundo em decadência, Pedro, um pacato cidadão da civilização, 
    reencontra não só um velho amigo, mas também uma forma de recomeçar a viver a vida. 
    Acompanhe-o, guie-o e tenha fé pela sua jornada, enquanto administra a sua renda de caramelos e relações humanas.</p>

    <p>Protocolo-Caramelo é um jogo Point&Click sobre mineração de criptomoedas, no qual você controla Pedro e administra tanto
    o dinheiro quanto suas relações pessoais para sobreviver até o final do jogo. O principal objetivo do jogo é fornecer uma
    experiência imersiva e introspectiva sobre um indivíduo comum que vive e experiencia uma sociedade em profunda degeneração
    e autodestruição.</p>

    <p>Para minerar criptomoedas, você deve resolver problemas matemáticos. Embora pareça, à primeira vista, chato e monótono
    resolver essa categoria de problemas, um dos pilares do jogo é demonstrar que, se feito da forma certa para o público-alvo 
    certo, é possível disseminar conhecimento de qualquer natureza. A lógica dos problemas matemáticos estão explicados no 
    documento; da história do jogo, entretanto, desejamos e esperamos que você jogue o jogo primeiro antes de ler qualquer 
    material dele(por favor, não tome spoilers!).</p>

    <p>Por último, mas não menos importante, o Protocolo-Caramelo pretende ser um jogo leve e portátil a qualquer dispositivo, 
    dado que está sendo desenvolvido na linguagem C usando da biblioteca gráfica SDL.</p>

    <footer>
        <p>Protocolo Caramelo &copy; - Todos os direitos reservados</p>
    </footer>
</body>
</html>
